/* Sets Page properties */
body {
    background-color: #fffff5;
}

h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-decoration: 1px underline;
}

/* footer */
footer {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

/* Navbar and Navigation properties */
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}
.navbar-brand img {
    height: 45px;
    width: 45px;
}

/* sets how nav collapse appears */
.nav-item {
    margin-left: auto;
    /* margin-right: 0 !important; */
}
/* sets nav-item hover color and underlinings */
.nav-item a:hover {
    color: rgb(200, 19, 236) !important;
    border-bottom: 2px dashed rgba(6, 223, 252, 0.962);
    margin-bottom: -2px;
}

/* Header section myHeroHeader */
.myHeroHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.1) 0%, rgba(120, 184, 230, 0.5) 75%, #b9d9fe 100%);
}
.myHeroHeader h1 {
    font-family: 'Bad Script', cursive;
}
.myHeroHeader h1 p {
    display: flex;
    align-items: center;
    text-align: center;
}
.myImage {
    display: flex;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 60px;
    width: 250px;
}


/* Work section */
.work-section-bg {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(120, 184, 230, 0.5) 75%, #b9d9fe71 90%, #b9d9fe24 100%);
}
.work-heading {
    padding-bottom: 20px;
}
/* card properties */
.card {
    cursor: pointer;
    border: 1px solid rgba(159, 159, 159, 0.245);
    transition: 0.4s ease-in;
}
/* sets background-color of card body */
.card-body {
    background-color: #f7f7ea;
}
/* animates card on hover incluing shadow */
.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    box-shadow: 4px 16px 4px rgba(28, 10, 10, 0.276) !important;
}
/* sets card img all to the same size */
.card-img-top {
    width: 100%;
    height: 18vw;
    object-fit: cover;
}
/* sets card button color */
#button-color {
    background: linear-gradient(to bottom, rgb(137, 73, 170) 20%, rgb(111, 109, 251) 100%);
    color: white;
}
/* sets card button color on hover */
#button-color:hover {
    background: linear-gradient(to bottom, rgb(152, 117, 169) 20%, rgb(154, 152, 250) 100%);
    color: white;
}

/* Skills and About Me section */
.skills-section-bg {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.244) 0%, rgba(120, 184, 230, 0.387) 50%, #b9d9fe2f 90%, #b9d9fe1d 100%);
}
.my-skills {
    padding-top: 120px;
}
#my-about-heading {
    margin-bottom: 20px;
}
#my-skills-heading {
    margin-top: 100px;
    margin-bottom: 20px;
}

/* contact me and social icons */
.social-icons {
    margin-top: 100px;
    margin-bottom: 100px;
}
.social {
    padding-bottom: 100px;
}
/* Contact me button */
.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}
/* contact me button on heover */
.contact-me-button:hover {
    transform: translateY(-10px);
    transition: 0.4s ease-out;
    box-shadow: 4px 12px 4px rgba(28, 10, 10, 0.276) !important;
}

/* sets social icons colors */
.fa-linkedin {
    color: rgb(0, 191, 255);
}
.fa-linkedin:hover {
    color: rgb(24, 102, 227);
}
.fa-github {
    color: rgb(128, 0, 255);
}
.fa-github:hover {
    color: rgb(12, 3, 25);
}

