/* Sets Page properties */
body {
    background-color: #fffff5;
}

/* footer */
footer {
    text-align: center;
}

/* Navbar and Navigation properties */
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}
.navbar-brand img {
    height: 40px;
    width: 40px;
}

/* sets how nav collapse appears */
.nav-item {
    margin-left: auto;
    /* margin-right: 0 !important; */
}

/* Header section myHeroHeader */
.myHeroHeader {
    
}
